* {
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

body {
    background: crimson;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 678px;
    height: 383px;
}

.item .geralt {
    position: absolute;
    max-width: 100%;
    z-index: 1;
    border-radius: 5px;

    filter: brightness(100%);
    transition: filter 250ms ease-out;
}

.item:hover .geralt {
    filter: brightness(85%);
    transition: filter 250ms ease-out;
}

.item .caption {
    position: relative;
    font-size: 1.6em;
    color: whitesmoke;
    z-index: 2;
    bottom: 0;
    top: 270px;
    left: 50px;
    right: 0;
    transition: top 250ms ease-out;
}

.item .caption h2 {
    margin: 0;
    font-weight: 500;
}

.item .caption h2 span {
    font-weight: 100;
    opacity: 0;
    transition: opacity 250ms ease-out;
}

.item .effect {
    position: relative;
    z-index: 2;
    bottom: 0;
    top: 333px;
    left: 0;
    right: 0;
    height: 10px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: whitesmoke;
    transition: top 250ms ease-out;
}

.item:hover .effect {
    top: 323px;
    transition: top 250ms ease-out;
    
}

.item:hover .caption {
    bottom: 0;
    top: 310px;
    left: 50px;
    right: 0;
    transition: top 250ms ease-out;
}

.item:hover .caption h2 span {
    opacity: 1;
    transition: opacity 250ms ease-out;
}